<div class="card">
  <h4 class="card-header text-center bg-light">Backup Database</h4>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 center">
        <div class="cui-example cui-example-vertical-spacing-sm">
          <!-- <ngb-progressbar [height]="'2rem'" [showValue]="50" [value]="50" type="success" [striped]="true" [animated]="true"></ngb-progressbar></p> -->

          <p *ngIf="isBackupSuccess" class="text-center mt-5" [ngClass]="'text-success'" style="cursor: pointer;">
            Database backup Successfully! <a (click)="onDownload()"><i><u><b>Download</b></u></i></a>
          </p>
        </div>
        <div class="form-group row">
          <button [ladda]="isProcess" (click)="onBackup()" class="btn btn-primary center">{{isProcess?'Processing':'Backup'}}</button>
        </div>
      </div>

    </div>
  </div>
</div>
